[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "segmentr"]
	path = segmentr
	url = https://github.com/segmentr-package/segmentr
	shallow = true
	registered = true
